*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    height:100%;
}
#wrapper{
    height:100%;
}

#headertitle{
    font-size: 0px;
    font-family: cursive;
    font-weight: 100;
    text-align: center;
    color: #F9F9F9;
    text-shadow:
        6px 1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    transition: 0.6s;
    cursor: default;
}

#headertitle:hover{
    transition: 0.6s;
    text-decoration: underline;
}

#instructions{
    font-family: calibri;
    font-weight: 100;
    margin-top: 14px;
    margin-left: -10000px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3); 
    border-top: 3px solid #001a4d;
    border-bottom: solid 3px #001a4d;
    padding-left: 8px;
    padding-right: 8px;
}

header{
    background-size: cover;
    height: 9%;
}

body{
    height: 100%;
}

#gamecontainer{
    height: 81%;
    background: rgba(255, 204, 102, 0.10); 
    transition: 2s;
}

#gamebackground{
    margin: auto;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    height: 75%;
    background-size:cover;
}

#game{
    min-width: 100%;
    height: auto;
}

#gameimage{
    opacity: 0.5;
}

footer{
    background-size: cover;
    background-position: center;
    border-top: 5px solid #001a4d;
    height: 10%;   
}

#footertext{
    font-family: calibri;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    line-height: 2;
    margin-left: -2150px;
    transition: 0.5s;
    color: #F9F9F9;
    -webkit-text-stroke: 2px black;
}
.tile{
    border: 1px solid white;
    float: left;
    display: inline-block;
    transition: 0.6s;
}

#menu{
    margin-top: -5px;
    margin-left: 25px;
    background: rgba(255, 255, 255, 0.6); 
    width: 200px;
    border: solid black 2px;
    border-radius: 15px;
    text-align: center;
}

label{
    text-decoration: underline;
    font-family: calibri;
    text-align: center;
}

#moves, #attempts, #lowestmoves{
    display: inline-block;
    margin-top: 9px;
}

button{
    background-color: #008CBA;
    color: #F9F9F9;
    font-family: calibri;
    border: 1px solid cadetblue;
    font-size: 15px;
    box-shadow: 0 3px #999;
    cursor: pointer;
    border-radius: 15px;
    padding: 1px 2px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 100;
    transition: 0.2s;
    width: 170px;
    font-size: 16px;
}

button:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

button:hover {
    background-color: cadetblue;
}

button:focus {
    outline:0;
}

#time, #highscore{
    display: inline-block;
    margin-top: 9px;
}
